---
// Components
import GoogleAd from '../../ui/GoogleAd.astro'

interface Props {
    classes?: string
}

const { classes } = Astro.props
---

<div class:list={["ad-block ad-block--vertical", classes]}>
    <GoogleAd 
        layout="vertical"
        responsive={false}
    />
</div>

<style>
    .ad-block--vertical {
        @apply py-4;
    }
</style> 