---
// Social Proof Section
// ------------
// Description: A section with logos of trusted companies to enhance credibility.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import { Image } from 'astro:assets'
import { formatNumber, formatDate, getImage } from '../../../utils/helpers';

// Content
import SocialProofData from '../../../data/json-files/socialProofData.json'

interface LogoItem {
    image: string
    alt: string
}
---

<Section padding="bottom" classes="bg-neutral-50 dark:bg-neutral-900">
    <Row>
        <Col span="12" align="center">
            <h2 class="!mb-6 text-base font-normal text-neutral-400 dark:text-neutral-600" set:html={SocialProofData.title} />
        </Col>
    </Row>
    <Row flex classes="!flex-row justify-center items-center gap-8 md:gap-12">
        {
            SocialProofData.logos.map((item: LogoItem) => (
                <Col classes="!w-auto">
                    <Image 
                        src={getImage(item.image)} 
                        alt={item.alt}
                        width={120}
                        height={40}
                        class="h-8 w-auto dark:invert dark:opacity-50"
                    />
                </Col>
            ))
        }
    </Row>
</Section>
