---
---

<div class="flex flex-wrap gap-4 justify-center">
  <select
    class="px-4 py-2 rounded-lg border border-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-500"
    id="timeFilter"
  >
    <option value="all">时间范围</option>
    <option value="week">本周</option>
    <option value="month">本月</option>
    <option value="year">本月</option>
    <option value="total">全部</option>
  </select>
  <select
  class="px-4 py-2 rounded-lg border border-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-500"
  id="typeFilter"
  >    <option value="all">贡献类型</option>
  <option value="total">全部</option>
  <option value="spending">消费</option>
  <option value="data">数据</option>
  <option value="coin">灵石</option>

</select>


  <input
    type="text"
    placeholder="搜索用户名称..."
    class="px-4 py-2 rounded-lg border border-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-500"
  />
</div>